---
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  deployments: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
      - name: Setup UV
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run ruff check

  type:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
      - name: Setup UV
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run pyright
