---
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  deployments: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup UV
        uses: astral-sh/setup-uv@9c8d030b7f1a3d0171f574badea77d331a72a2ce
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run ruff check

  type:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup UV
        uses: astral-sh/setup-uv@9c8d030b7f1a3d0171f574badea77d331a72a2ce
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run pyright
