---
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  deployments: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup UV
        uses: astral-sh/setup-uv@e8b52af86e46cb518daf4b47877e582bc9e37b8b
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run ruff check

  type:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Setup UV
        uses: astral-sh/setup-uv@e8b52af86e46cb518daf4b47877e582bc9e37b8b
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run pyright
