---
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  deployments: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Setup UV
        uses: astral-sh/setup-uv@085087a5d3dc70f4748c8f303cc8a03e3c7d33df
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run ruff check

  type:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Setup UV
        uses: astral-sh/setup-uv@085087a5d3dc70f4748c8f303cc8a03e3c7d33df
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run pyright
