---
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  deployments: write
  pull-requests: write

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Setup UV
        uses: astral-sh/setup-uv@486d0b887200c1d9bb3a30439404f78461090c4f
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run ruff check

  type:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e
      - name: Setup UV
        uses: astral-sh/setup-uv@486d0b887200c1d9bb3a30439404f78461090c4f
        with:
          version-file: "pyproject.toml"
      - name: Lint
        run: uv run pyright
